
.App{
  box-sizing: border-box;
  
  font-family: 'Open Sans', sans-serif;
  background-color:beige;
  width:1540px;
}

.navbar{
  display:inline-flex;
  background-color: black;
  color: white;
  width:1540px;
 border-bottom: 2px solid red;;
 height:120px;
 justify-content: center;
 align-items: center;
  
  
}
.navbar h1{

  margin-left: 2em;

}

.navbar li{
  display: inline-flex;
  padding: 1em;
  cursor: pointer;
  color: white;
  
  

}
.link{
  color:white;
}

.navbar ul{
  margin-left: 50em;
}

 .link:hover{
  color: red;
  font-weight:bold;
}

.image1{
  height:300px;
  width:1540px;
}
.taglines{
  position: absolute;
  top:7em;
  color:white;
  left: 20em;
  font-size:20px;
  
}

.subscribe{
  color:white;
  display: inline-flex;
  background-color: blue;
  width:1540px;
  position: absolute;
  top:24em;
  box-sizing: border-box;
  
  
  

}
.subscribe h2{

  margin-left: 59px;
  
}
.subscribe1{
   display: flex;
   position: absolute;
   left:70em;
   align-items: center;
   margin-top: 15px;
   box-sizing: border-box;
   
}
.subscribe1 input{
  height: 30px;
  width:250px;
  margin-right: 5px;


}

.subscribe1 button{
   height: 39px;
   background-color:rgb(232, 12, 12);
   font-weight: bold;
   font-size: 1em; 
   cursor: pointer;
   width: 100px;
}

.footer{
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  
  justify-content: space-around;
  margin-top: 30px;

}

.footer img{
  height: 150px;
  margin-top: 7em;
}
.box{
  
 padding: 10px;
 text-align: center;
  width:30%;
  color:blue;
  
}

.footer1{
  
  width:100%;
  background-color: orangered;
  
  height:100px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.aboutsub{
  position: relative;;;
  bottom:24em;
  width:1545px;
  font-size: 1.75em;
}
.aboutfooter1{
  margin-top:1em;
}
.contents{
 
  margin-top: 130px;
  display:grid;
  grid-template-columns: 60% 40%;
  grid-gap:2em;
  margin-left: 9em;
  font-family: 'Open Sans', sans-serif;
  
}
.sndpara{
  background-color:black;
  color: white;
  padding: 20px;
}

.sndbox{
  border: 2px solid black;
  width:400px;
  height:190px;
  color:white;
  margin-top: 30px;
  padding: 20px;
  background-color: black;
 
}
